* {
    margin: 0px 2px;
    padding: 0;
}
body {
    font-family: 'Fira Sans', sans-serif;
    font-size: 1.2rem;
    line-height: 1.4;
    text-align: justify;
}
hr {
    color: grey;
}
p {
    font-size: 0.7em;
    color: rgb(95, 84, 84);
}
h1 {
    text-align: center;
}
.fake-button {
    border: 2px solid transparent;
    border-radius: 5%;
    background:linear-gradient(to right, #6697d8 4%, #475ca1 100%);
    text-decoration: none;
    color: white !important;
    padding: 5px;
    margin-left: 15px;
}
img {
    width: 100%;
}
main {
    padding-top: 40px;
    padding-bottom: 40px;
}
.pricing-card-first, .pricing-card-second, .pricing-card-third {
    padding: 5rem 3rem;
    text-align: center;
    transform: skew(-10deg, 0);
}

.pricing-card-first{
    background-color: turquoise;
}
.pricing-card-second {
    background-color: red;
}
.pricing-card-third {
    background-color: yellow;
}
.block-grey {
    height: 20em;
    background-color: #efefef;
}
.block-grey ul li:first-child {
    padding-top: 3rem;
}
.block-grey ul li:last-child {
    padding-bottom: 5rem;
}

li:before {
    font-family: FontAwesome;
    content: "\F00C";
    position: absolute;
    left: -40px;
    color: #ff6262;
}
footer {
    padding: 1em;
}

footer i {
    color: black;
    border: 1px solid grey;
    width: 24px;
    height: 24px;
    line-height: 24px;
    text-align: center;
    border-radius: 50px;
    top: 2px
}


@media screen and (min-width: 1024px) {
    .flex {
    display: flex;
    justify-content: space-around;
    flex-wrap: nowrap;
    } 
    .flex-item {
    flex-basis: 30%;
    }
    main {
        padding: 3em 10em;
    }
    .row {
        flex-wrap: nowrap;
    }

}
   
