* {
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Fira Sans', sans-serif;
    font-size: 1.2rem;
    line-height: 1.4;
    text-align: left;
}
hr {
    color: grey;
}

p {
    font-size: 0.7em;
    color: rgb(95, 84, 84);
}
h1 {
    text-align: center;
}
main, aside, footer {
    padding: 2em 1em;
}
.fake-button {
    border: 2px solid transparent;
    border-radius: 5%;
    background:linear-gradient(to right, #6697d8 4%, #475ca1 100%);
    text-decoration: none;
    color: white !important;
    padding: 5px;
}


footer i {
    color: black;
    border: 1px solid grey;
    width: 24px;
    height: 24px;
    line-height: 24px;
    text-align: center;
    border-radius: 50px;
    top: 2px
}

@media screen and (min-width: 1024px) {
    .flex {
    display: flex;
    justify-content: space-around;
    flex-wrap: nowrap;
    } 
    .flex-item {
    flex-basis: 30%;
    }

}
    